.Testimonial{
    background: #f0f0f0;
}

.call-to-action{
    background-image: url('https://res.cloudinary.com/tusar/image/upload/b_rgb:000000,o_36/v1651865943/gpu-point/17048219_gpba0u.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.call-to-action h2{
    font-family: 'Rubik Wet Paint', cursive;
}